@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --primary-dark-purple: #8844ee;
  --primary-light-purple: #b07dfb;
  --primary-withe: #ffffff;

  --bg-light-gray: #fafbfc;

  --secondary-shadow-gray: rgba(44, 44, 44, 0.15);
  --secondary-light-black: rgba(0, 0, 0, 0.7);

  --gradient-primary: linear-gradient(135deg, #8844ee, #b07dfb);

  --font-family-default: "Vollkorn", Georgia, serif;
}

* {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-family-default);
}

img {
  display: block;
  max-width: 100%;
}
/*general grid*/

.structure {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidenav content adverts"
    "footer footer footer";
}

/*Header*/

.header {
  align-items: center;
  background: var(--gradient-primary);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-area: header;
  padding: 1.875rem;
}

.logo {
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.3125rem;
  color: var(--primary-withe);
  display: block;
  font-size: 1.125rem;
  padding: 0.625rem;
  transition: 0.1s;
}
.header nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.header li + li {
  margin-left: 1.875rem;
}

/*Sidenav*/

.sidenav {
  background-color: var(--bg-light-gray);
  grid-area: sidenav;
  padding: 1.875rem;
}

.sidenav li a {
  background-color: var(--primary-withe);
  border-radius: 0.3125rem;
  box-shadow: 0.3125rem 0.3125rem 0.9375rem 0 var(--secondary-shadow-gray);
  display: block;
  min-width: 3.75rem;
  max-width: 6.25rem;
  margin: 0 auto 1.875rem auto;
  padding: 1.25rem;
  transition: 0.1s ease-out;
}

.sidenav li a:hover {
  background-color: var(--primary-light-purple);
}

/*Content*/
.content {
  display: grid;
  gap: 1.875rem;
  grid-area: content;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 56.25rem;
  padding: 1.875rem;
}

.col-wide {
  grid-column: 1 / -1;
}

.image-1 {
  align-self: end;
  grid-row: span 2;
}

.image-2 {
  align-self: end;
}

/*Content style*/
p {
  color: var(--secondary-light-black);
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.005rem;
}

.information p + p {
  margin-top: 1.875rem;
}

/*Title*/
.title {
  color: var(--primary-light-purple);
}

.title h1 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1;
}

.title span {
  font-size: 0.875rem;
  font-style: italic;
}

/*Adverts*/
.adverts {
  align-content: start;
  background-color: var(--bg-light-gray);
  display: grid;
  grid-area: adverts;
  gap: 1.875rem;
  padding: 1.875rem;
}

/*Footer*/
.footer {
  background: var(--gradient-primary);
  grid-area: footer;
}

.footer p {
  color: var(--primary-withe);
  padding: 1.875rem;
  text-align: center;
}

.footer p a {
  color: var(--primary-withe);
}
